AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1

BUCKET_NAME=bucket_name
BUCKET_URL=https://bucket.com

APP_URL=http://localhost:3001

# s3: para produção
# local: em desenvolvimento
STORAGE_TYPE=s3

# da máquina local
MONGO_URL=mongodb://user:user@localhost:27017/upload?authSource=admin
